@import 'accessibility';
@import 'type';
@import 'spacing';

.u-no-breakout {
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-all;
    word-break: break-word;
    hyphens: auto;
}

.u-img-responsive {
    max-width: 100%;
    height: auto;
}

.u-img-block {
    display: block;
    width: 100%;
    height: auto;
}
