$b: 'grid';

.#{$b} {
  overflow: hidden;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;

  &__item {
    flex: 1 48%;
    padding: 30px 50px 60px;
    min-height: 500px;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
    display: flex;
    text-align: center;
    text-decoration: none;
    color: #fff;
    margin: 1%;

    &--menu {
      flex: 1 25%;
      padding: 30px;
      min-height: 300px;
      margin: .5%;
    }

    &--headliner {
      flex: 1 100%;
    }
  }
}
