$b: 'section-countdown';

.#{$b} {
  color: $white;
  display : flex;
  flex-shrink: 0;
  height: 50px;
  align-items: center;
  animation: slide-left 20s linear infinite;

  &__text {
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: $font-weight-bold;

    span {
      margin-right: 50px;
    }
  }

  &__inner {
    display:flex;
    flex-wrap: nowrap;
    white-space: nowrap;
    overflow-x: hidden;
    width: 100%;

    @include respond-to('small') {
      //max-width: 50%;
    }

    @include respond-to('medium') {
      //max-width: 35%;
    }
  }

  &__wrapper {
    margin: 20px;
    padding: 10px;
    background: linear-gradient(270deg, #EB3617 5.19%, #189E64 100%);
  }
}
@keyframes slide-left
{
  from
  {
    -webkit-transform: translateX(0);
    transform:         translateX(0);
  }
  to
  {
    -webkit-transform: translateX(-100%);
    transform:         translateX(-100%);
  }
}
