$b: 'index-menu';

.#{$b} {
  &--item {
    background-size: cover;
    color: $white;
    font-weight: 900;
    font-size: 1.5rem;
    line-height: 25px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: all .2s ease-in;

    &:hover {
      text-decoration: none;
      color: $white;
      opacity: .9;
    }
  }

  &__wrapper {
  }
}
