$b: 'line-up';

.#{$b} {
  &__item {
    cursor: pointer;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    flex: 1 100%;
    min-height: 350px;

    @include respond-to('small') {
      flex: 1 48%;
      padding: 30px 50px 60px;
      min-height: 500px;
    }

    &--name {
      font-weight: 900;
      font-size: 1rem;
      line-height: 25px;
      text-transform: uppercase;
      padding: 5px 10px;
      display: inline-block;
      position: absolute;
      color: $black;
      background: $white;
      top: 25px;
      left: 25px;
      text-align: left;

      @include respond-to('small') {
        font-size: 1.5rem;
        text-align: center;
        padding: 15px 20px;
      }
    }

    &--date {
      position: absolute;
      bottom: 25px;
      left: 25px;

      span {
        transition: all .2s ease-in;
        font-weight: 500;
        font-size: .9rem;
        line-height: 25px;
        text-transform: uppercase;
        padding: 10px;

        @include respond-to('small') {
          font-size: 1rem;
          text-align: center;
          font-weight: 900;
        }
      }

      span:first-child {
        background: $color-brand-dark-blue;
      }
      span:last-child {
        background-color: $white;
        color: $black;
      }
    }

    // Hover animation
    &:before {
      content: "";
      position: absolute;
      z-index: -1;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      border-color: $white;
      border-style: solid;
      border-width: 0;
      -webkit-transition-property: border-width;
      transition-property: border-width;
      -webkit-transition-duration: 0.3s;
      transition-duration: 0.3s;
      -webkit-transition-timing-function: ease-out;
      transition-timing-function: ease-out;
    }

    &:hover:before, &:focus:before, &:active:before {
      -webkit-transform: translateY(0);
      transform: translateY(0);
      border-width: 7.5px;
    }

  }
}
