$b: 'dialog';

.#{$b} {
  margin: 0;
  border: 0;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $black;
  z-index: 9999;
  width: 95%;
  max-height: calc(100vh - 150px);
  overflow-y: auto;

  @include respond-to('small') {
    width: auto;
    max-height: 100%;
  }

  &__backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);

    @include respond-to('small') {
      background-color: rgba(0, 0, 0, 0.8);
    }
  }

  &__image {
    margin-bottom: 10px;

    img {
      width: 100%;
      height: 450px;
      object-fit: cover;
    }
  }

  &__inner {
    padding: rem(10) rem(20) rem(20) rem(20);
  }

  &__title {
    margin-bottom: rem(20);

    h3 {
      color: $white;
      padding: 10px;
      display: inline-block;
      border: 2px solid $white;
    }
  }

  &__description {
    color: $white;
    margin-bottom: rem(50);
  }

  &__bottom {
    display: block;

    @include respond-to('small') {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }

    &--socials {
      margin-top: rem(25);

      @include respond-to('small') {
        margin-top: initial;
        display: flex;
      }

      a {
        margin: 0 .5rem;
        color: $white;
        font-size: 1.25rem;
      }

      .socials--item--icon {
        width: 25px;
      }
    }

    &--date {
      span {
        transition: all .2s ease-in;
        font-weight: 900;
        font-size: 1rem;
        line-height: 25px;
        text-transform: uppercase;
        padding: 10px;
      }

      span:first-child {
        color: $white;
        background: $color-brand-dark-blue;
      }
      span:last-child {
        color: $white;
      }
    }
  }


  &__actions {
    text-align: center;
    color: $white;
  }
}

.modal {
  display: block;
}
