$b: 'section-countdown';

.#{$b} {
  color: $white;
  position: relative;
  display: block;
  width: 100%;
  padding: 0;

  &__text {
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: $font-weight-bold;
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
    //position: absolute;
    display: inline-block;
    //padding-left: 100%;

    //animation: marquee 5s linear infinite;

    &:hover {
      animation: none;
    }
  }

  &__wrapper {
    padding: 20px;
    background-color: $black;
  }
}

@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}
