$b: 'section-countdown';

.#{$b} {
  color: $white;
  display : flex;
  flex-shrink: 0;
  height: 50px;
  align-items: center;
  animation: slide-left 20s linear infinite;

  &__text {
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: $font-weight-bold;
    margin: 0 auto;
  }

  &__inner {
    display:flex;
    flex-wrap: nowrap;
    white-space: nowrap;
    max-width: 35%;
    overflow-x: hidden;
  }

  &__wrapper {
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: right;
    background: $black;
  }
}
@keyframes slide-left
{
  from
  {
    -webkit-transform: translateX(0);
    transform:         translateX(0);
  }
  to
  {
    -webkit-transform: translateX(-100%);
    transform:         translateX(-100%);
  }
}
