$b: 'main-header';

.#{$b} {
  min-height: 150px;

  &__wrapper {
    min-width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: $gradient-brand-reverse;
    background-position: center;
  }
}
