$b: 'main-footer';

.#{$b} {
  color: $white;
  border-top: 1px solid $white;
  margin-top: 75px;
  padding-top: 50px;

  &__wrapper {
    background-color: $black;
  }

  &__subtitle {
    font-size: 1.5rem;
    font-weight: 900;
    text-transform: uppercase;
    padding: 0 10px;
  }

  &__menu {
    padding: 0;

    li {
      list-style: none;
      color: $white;
      padding: 10px 0;
      a {
        transition: all .2s ease-in;
        border: 1px solid transparent;
        padding: 10px;

        &:hover {
          color: $white;
          text-decoration: none;
          border-color: $white;
        }
      }
    }

    &--socials {
      list-style-type: none;

      li {
        display: inline-block;
        margin: 0 10px 0 0;

        a {
          font-size: 1.5rem;

          &:hover {
            border-color: transparent;
          }
        }
      }
    }
  }

  &__copyright {
    margin-bottom: 25px;
    span {
      color: $black;
      background-color: $white;
      padding: 10px;
      font-weight: 700;
    }
  }
}
