$b: 'main-navigation';

.#{$b} {
  position: absolute;
  width: 100%;
  z-index: 99;

  &__inner {
    display: block;
    justify-content: space-between;
    align-items: center;
    padding-top: rem(30);


    a:hover {
      text-decoration: none;
    }

    @include respond-to('small') {
      display: flex;
      padding: rem(30) 4.375% rem(15);
    }
  }

  // Navbar left side: Date
  &__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all .2s ease-in;
    font-weight: 900;
    font-size: 1.8rem;
    line-height: 25px;
    text-transform: uppercase;
    padding: 0 rem(30) 0 rem(15);

    span {
      display: block;
    }

    span:first-child {
      color: $color-brand-red;
    }

    span:last-child {
      color: $white;
    }

    @include respond-to('small') {
      padding: 0;
    }
  }

  // Mobile toggle
  &__toggle {
    display: block;
    @include respond-to('small') {
      display: none;
    }

    &--btn {
      width: 1.5rem;
      height: 1.5rem;
      position: relative;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: .5s ease-in-out;
      -moz-transition: .5s ease-in-out;
      -o-transition: .5s ease-in-out;
      transition: .5s ease-in-out;
      cursor: pointer;

      span {
        display: block;
        position: absolute;
        height: 3px;
        opacity: 1;
        left: 0;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .25s ease-in-out;
        -moz-transition: .25s ease-in-out;
        -o-transition: .25s ease-in-out;
        transition: .25s ease-in-out;
        background: $color-brand-base;
      }

      span:nth-child(1) {
        top: 0;
        width: 50%;
      }

      span:nth-child(2), span:nth-child(3) {
        top: 10px;
        width: 75%;
      }

      span:nth-child(4) {
        top: 20px;
        width: 100%;
      }

      &.is-active {
        span:nth-child(1) {
          top: 18px;
          width: 0;
          left: 50%;
        }

        span:nth-child(2) {
          width: 100%;
          -webkit-transform: rotate(45deg);
          -moz-transform: rotate(45deg);
          -o-transform: rotate(45deg);
          transform: rotate(45deg);
        }

        span:nth-child(3) {
          width: 100%;
          -webkit-transform: rotate(-45deg);
          -moz-transform: rotate(-45deg);
          -o-transform: rotate(-45deg);
          transform: rotate(-45deg);
        }

        span:nth-child(4) {
          top: 18px;
          width: 0;
          left: 50%;
          //width: 100%;
        }
      }
    }
  }

  // Navbar right side: Main navigation
  &__menu {
    width: auto;
    background-image: $gradient-brand;
    background-image: $gradient-brand-webkit;
    opacity: 0;
    visibility: hidden;
    transform: scale(1.5);
    transform-origin: 50% 0;
    transition: visibility 0s 0.15s ease-out, opacity 0.15s ease-out, transform 0.15s ease-out;
    pointer-events: none;
    padding: 1rem 0;

    @include respond-to('small') {
      opacity: 1;
      visibility: visible;
      transform: none;
      transition: none;
    }

    &--list {
      display: block;
      margin: 0 1rem;
      padding: 0;

      @include respond-to('small') {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        margin-bottom: 0;
        padding-left: 7.5px;
      }
    }

    &--item {
      list-style: none;
      padding-left: 0;

      a {
        text-decoration: none;
        color: $white;
        display: block;
        font-weight: $font-weight-bold;
        padding: 10px 15px;
        font-size: 1rem;
        text-transform: uppercase;
        letter-spacing: 2px;
        transition: all .2s ease-in;

        &:hover {
          color: $black;
        }
      }
    }

    &--cta {
      @include respond-to('small') {
        margin-left: 1rem;
        margin-right: 1.5rem;

        a {
          border: 3px solid $white;
          padding: 8px 14px;
          display: inline-block;
          vertical-align: middle;
          position: relative;
          text-decoration: none;
          background-image:
                  linear-gradient(to top, #ffffff 50%, #000000 50%),
                  linear-gradient(to top, #000000 50%, transparent 50%);
          -webkit-background-clip: text,padding-box;
          background-size: 100% 200%;
          background-position: top;
          transition: background-position 0.1s ease-in-out;

          &:hover,
          &:focus,
          &:active,
          &.is-active {
            color: $white;
            background-position: bottom;
            border-color: $black;
          }
        }
      }
    }

    &.is-open {
      visibility: visible;
      opacity: 1;
      transform: none;
      transition-delay: 0s;
      pointer-events: auto;
      position: static;
      margin-top: 1rem;
      padding: 1rem 0;
      -webkit-box-shadow: 0 12px 10px 0 rgba(0,0,0,0.4);
      box-shadow: 0 12px 10px 0 rgba(0,0,0,0.4);
    }

    .is-active {
      position: relative;
        a {
          color: $color-brand-green;

          &:after {
            content: "";
            background: $color-brand-green;
            width: 3px;
            height: 1rem;
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);

            @include respond-to('small') {
              background: $black;
              width: calc(100% - 30px);
              height: 3px;
              position: absolute;
              left: 50%;
              top: 35px;
              transform: translateX(-50%);
            }
          }

          @include respond-to('small') {
            color: $black;
          }
      }
    }
  }
}
