$b: 'section-info';

.#{$b} {
  background: $black;
  padding-top: 50px;
  color: $white;

  &__item {
  }

  &__inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__text {
    width: 45%;
  }

  h3 {
    margin-bottom: rem(20);
    position: relative;
    display: inline-block;
    padding: 10px 0;

    &:after {
      content: "";
      background-image: -webkit-linear-gradient(right, #EB3617 5.19%, #189E64 100%);
      background-image: linear-gradient(270deg, #EB3617 5.19%, #189E64 100%);
      width: 100%;
      height: 3px;
      position: absolute;
      left: 50%;
      bottom: 5px;
      transform: translateX(-50%);
    }
  }
}
