$b: 'section-aftermovie';

.#{$b} {
  display: flex;
  flex-direction: column;

  @include respond-to('small') {
    flex-direction: row;
    justify-content: right;
  }

  &__wrapper {
    padding: 0 20px;

    @include respond-to('small') {
      padding: 100px 20px 20px 20px;
    }
  }

  &__inner {
    color: $white;
    display: flex;
    justify-content: center;
    flex-direction: column;

    @include respond-to('small') {
      width: 365px;
      margin-right: 75px;
    }
  }

  &__movie {
    margin-top: 50px;

    @include respond-to('small') {
      max-width: 60%;
      margin-top: 0;
    }

    &--player {
      object-fit: cover;
      width: 100%;
    }
  }
}
