$b: 'section-line-up';

.#{$b} {
  color: $color-font;
  padding-top: 15px;

  &__menu {
    margin-top: 25px;

    li {
      display: inline-block;
      list-style: none;
      padding-left: 0;

      a {
        text-decoration: none;
        color: $color-gray50;
        display: block;
        font-weight: $font-weight-bold;
        padding: 10px 15px;
        font-size: 1rem;
        text-transform: uppercase;
        letter-spacing: 2px;
        transition: all .2s ease-in;

        &:hover {
          color: $white;
        }
      }

      &.is-active {
        position: relative;
        a {
          color: $white;

          &:hover {
            color: $white;
          }
          &:after {
            content: "";
            background: $color-brand-thistle;
            width: calc(100% - 30px);
            height: 3px;
            position: absolute;
            left: 50%;
            bottom: 5px;
            transform: translateX(-50%);
          }
        }
      }
    }
  }
}
