.list--unstyled { @include list-unstyled; }
.list--inline { @include list-inline; }

.nested-ordered-list {
    ol {
        list-style-type: none;
        counter-reset: item;
        margin: 0;
        padding: 0;

        > li {
            display: table;
            counter-increment: item;
            margin-bottom: 0.6em;

            &::before {
                content: counters(item, '.') '. ';
                display: table-cell;
                padding-right: 0.6em;
            }
        }
    }

    li ol > li {
        margin: 0;

        &::before {
            content: counters(item, '.') ' ';
        }
    }
}
