/**
 * Colors
 */
$color-red: #bb0a30 !default;
$color-yellow: #fa0 !default;
$color-green: #090 !default;
$color-silver: #b2b2b2 !default;
$color-warmsilver: #b6b1a9 !default;
$color-black: #000 !default;
$color-gray10: #1a1a1a !default;
$color-gray20: #333 !default;
$color-gray30: #4c4c4c !default;
$color-gray40: #666 !default;
$color-gray50: #808080 !default;
$color-gray60: #999 !default;
$color-gray70: #b2b2b2 !default;
$color-gray80: #ccc !default;
$color-gray85: #d9d9d9 !default;
$color-gray90: #e5e5e5 !default;
$color-gray95: #f2f2f2 !default;
$color-white: #fff !default;
$color-light: $color-gray95 !default;
$color-dark: $color-gray20 !default;
$color-body: $color-dark !default;
$color-placeholder: $color-gray60 !default;
$color-invalid: $color-red !default;

$color-brand-base: #00bf05 !default;
$color-background-dark: $color-brand-base !default;
$color-icon: #00B0F0 !default;
