/**
 * Font
 */
$font-default: #{'VWTextWeb',Verdana, Geneva, sans-serif} !default;
$font-extended: #{'VWHeadWeb', Geneva, sans-serif} !default;
$font-weight-light: 300 !default;
$font-weight-normal: 400 !default;
$font-weight-bold: 700 !default;
