@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;1,400&display=swap');

$font-family-base:                  'Roboto', Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
$font-family-alt:                   'Merriweather', serif;

.title {
  //font-family: $fo;
}

.text {
  font-weight: 300;
  font-size: 1rem;
  line-height: 28px;
}
