@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;1,400&display=swap');

$font-family-base:                  'Roboto', Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
$font-family-alt:                   'Merriweather', serif;

.title {
}

.text {
  font-weight: 300;
  font-size: 1rem;
  line-height: 28px;
}

.border-gradient {
  background: linear-gradient(270deg, #EB3617 5.19%, #189E64 100%);
  display: inline-block;
  padding: 4px;

  .title {
    background: black;
    padding: 10px;
    margin: 0;
    color: white;
  }
}
